In [ ]:
#1. Discuss string slicing and provide examples

In [ ]:
'''
A. String slicing - It is a feature in python which allows us to extract a certain part of the string (sub-string)

Syntax - [ Start : End : Step]

Start - it is where the slicing begins, default is 0

End - It is where the slicing ends, if not mentioned, slicing goes to the end of the string

Step - it is the interval between the indices, default is 1
'''

In [5]:
#EXAMPLE 1
#Basic slicing
a ='I love italy'
a [0:6]

'I love'

In [12]:
#EXAMPLE 2
#Omitting start or end
a = 'I love italy'
print(a[:8]) #(in this example as the start is not mentioned, it assumed it as 0)

I love i

In [14]:
a = 'I love italy'
a [2:]  #in this example as the end is not mentioned, it goes up to the end

'love italy'

In [24]:
#EXAMPLE 3
# Using a step
a = 'I love italy'
a[::2]

'Ilv tl'

In [36]:
#EXAMPLE 4
#Negative indexing
a = "Hello, World!"
a [-6 : ]

'World!'

In [ ]:
# 2. Explain the key features of lists in Python

In [ ]:
'''
A. List is a powerful and versatile data structure which allows you to store 'n' number of items in it.
 lists are also mutable.

 Key features of list -

 '''

In [40]:
# a. lists are Ordered
#Lists maintain the order of elements as they are added.
#even if we add many items, the order will not be missed

# example -

grocery_list = ['milk', 'water', 'badam']
grocery_list[1]

'water'

In [44]:
# b. lists are hetrogenous
# A list can store items of different data types (integers, strings, floats, even other lists)
# example -
P = [ "icecream", 1, 2, "eat"]
P

['icecream', 1, 2, 'eat']

In [48]:
# c. lists are mutable
# example -

grocery_list = ['milk', 'water', 'badam']
grocery_list[0] = "oil"
grocery_list

['oil', 'water', 'badam']

In [50]:
# d. Lists are dynamic in size
# they can shrink or add elements in them.

# example 1 - they can add items in them

items = ["pen", "scale", "box"]
items.append("pencil")
items

['pen', 'scale', 'box', 'pencil']

In [70]:
# example 2 they can also be removed
items = ["pen", "scale", "box", "pencil"]
items.remove("pencil")
items

['pen', 'scale', 'box']

In [72]:
# e. Indexed access
# elements can be accessed via zero based indexing, including negative indexing to access from the other end.
# example 1 
vegetables = [ "onion", "tomato", "potato"]
vegetables[0]

'onion'

In [74]:
# example 2 negative indexing
vegetables = [ "onion", "tomato", "potato"]
vegetables[-1]

'potato'

In [77]:
# f. They are Iterable
#example 
for vegetable in ["onion", "tomato", "potato"]:
    print(vegetable)

onion
tomato
potato

In [81]:
# g. They allow slicing
# example
vegetables = [ "onion", "tomato", "potato"]
vegetables[0:2]

['onion', 'tomato']

In [85]:
# h. extend
#example 
a = [1,2,3] 
b = [4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [92]:
#i. Sort and reverse
# sort
a = [3, 1, 4, 5, 6, 2]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6]

In [96]:
# reverse

a = ["rama", "sita", "gita"]
a.reverse()
a

['gita', 'sita', 'rama']

In [98]:
#j. Supports Nesting
# List can add many lists in it
# example
a = [[1,2,3], [3,4,5], [5,6,7]]
a[0]

[1, 2, 3]

In [100]:
a[1]

[3, 4, 5]

In [102]:
#k. some other operations

#concatenation
a = ["kriya", "manu", "megha"]
b = ["roja", "reena", "kusuma"]
a + b

['kriya', 'manu', 'megha', 'roja', 'reena', 'kusuma']

In [104]:
#repeated
a = [1,2,3]
a * 2

[1, 2, 3, 1, 2, 3]

In [111]:
# 3. describe how to access, modify, and delete elements in a list with examples?

In [ ]:
# A. Lists are mutable and can carry huge data sets in them, they can be accessed, modified and also deleted, here are follows

In [113]:
# i). Accessing elements 
# we can access elements in list either using indexing or slicing

#example 1 indexing with zero based indexing
a = ["chintu", "bunty", "preethi"]
a[0]

'chintu'

In [115]:
#example 2 indexing with negative based indexing
a[-1]

'preethi'

In [117]:
#example 3 using slicing
a[0:2]

['chintu', 'bunty']

In [121]:
# ii) Modifying

#example1 (modifying single element)

a = ["chintu", "bunty", "preethi"]
a[1] = "reena"
a

['chintu', 'reena', 'preethi']

In [123]:
# example2 modifying multiple elements by slicing

a = ["chintu", "bunty", "preethi"]
a[2:3] = ["naina", "padma"]
a

['chintu', 'bunty', 'naina', 'padma']

In [125]:
#example 3 append a new element
a.append("pushpa")
a

['chintu', 'bunty', 'naina', 'padma', 'pushpa']

In [129]:
#example 4 insert at any specific position
a.insert(2,"namrata")
a

['chintu', 'bunty', 'namrata', 'namrata', 'naina', 'padma', 'pushpa']

In [131]:
# iii) Deleting elements
# we can delete elements using delete, remove, pop or slicing.

# example 1 (delete by indices)
a = [ 1,2,3,4,5,6,7,8]
del a[0]
a

[2, 3, 4, 5, 6, 7, 8]

In [133]:
#example 2 ( delete by remove)
a.remove(2)
a

[3, 4, 5, 6, 7, 8]

In [135]:
#example 3 
a.pop() #it removes the last element if not mentioned.
a

[3, 4, 5, 6, 7]

In [141]:
#example 4 (delete multiple elements)
del a[2:3]
a

[3, 4, 6, 7]

In [143]:
#example 5 (clear all)
a.clear()
a

[]

In [ ]:
# 4. Compare and contrast tuples and lists with examples

In [147]:
'''
A. Tuples and Lists both data types that can store collection of items.
However they are different in their properties and use cases.

Comparisions -

a) Mutability

- Lists are mutable
- Tuples are not mutable

example 1 Lists are mutable
'''

school = ["books", "pens", "pencils"]
school[0] = "eraser"
school

['eraser', 'pens', 'pencils']

In [149]:
#example 2 Tuples are not mutable

school = ("books", "pens", "pencils")
school[0] = "eraser"
school

# hence the error as they are not mutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# b. Syntax
# Lists defined using the square bracket []
# Tuples defined using the paranthesis ()

In [153]:
# example of lists

a = [3,2,1]
type(a)

list

In [155]:
# example of tuples

a = (3,2,1)
type(a)

tuple

In [ ]:
'''
c. Performance
- Performance of list is slower due to mutability and as it is dynamic in nature
- Performance of tuples is faster as it is immutable and static in nature.
'''

In [ ]:
'''
d. Use cases

- Lists are useful for the collection of items which may change in future.
- Tuples are suitable for the fixed collection of items.

'''

In [ ]:
'''
e. Methods
- Lists have many methods, example - append(), remove()
- Tuples have limited methods, example - count(), index()
'''

In [158]:
#example - Lists - append()
a = [1,2,3,4]
a.append(5)
a

[1, 2, 3, 4, 5]

In [160]:
#example - lists - remove()
a.remove(5)
a

[1, 2, 3, 4]

In [162]:
#example - Tuples - count()
a = (1,1,1,2,2,2,2,3,3,3,3,)
a.count(1)

3

In [164]:
#example - Tuples - index
a = ("keerthi", "sushma", "neelima")
a[0]

'keerthi'

In [ ]:
'''
f. Memory usage
- Lists consumes more memory due to extra features
- Tuples consumes less memory as they are static
'''

In [ ]:
'''
g. Accessing elements

- Both Tuples and lists supports indexing and slicing

'''

In [166]:
#example - Tuples - index - Accessing
a = ("keerthi", "sushma", "neelima")
a[1]

'sushma'

In [168]:
#example - List - index - Accessing
a = ["keerthi", "sushma", "neelima"]
a[2]

'neelima'

In [170]:
#example - Tuples - Slicing - Accessing
a = ("keerthi", "sushma", "neelima")
a[0:2]

('keerthi', 'sushma')

In [172]:
#example - List - Slicing - Accessing
a = ["keerthi", "sushma", "neelima"]
a[0:1]

['keerthi']

In [ ]:
'''
Hence lists are mutable and used when we need a dynamic data structure 

whereas tuples are considered when we need static data structure.

'''

In [ ]:
# 5. Describe the key features of sets and provide examples of their uses

In [ ]:
# A. Sets are unordered and unique collection of elements

In [174]:
# a. It is defined using curly braces {}
#example 

a = {1,2,3}
type(a)

set

In [176]:
# b. It doesnt allow any duplicate elements. It has unique collection of elements.
#example 

b = {"keerthi", 1,1,1,2,2,2,2,"keerthi", 3,3,3,3}
b

{1, 2, 3, 'keerthi'}

In [178]:
# use cases - it removes the duplicacies
#for example 
list = ["keerthi", 1,1,1,2,2,2,2,"keerthi", 3,3,3,3]
s = set(list)
s # with this we removed the duplicacies in the list

{1, 2, 3, 'keerthi'}

In [180]:
# It is unordered - indexing and slicing are not allowed

#example 1 Indexing
a = {1,2,3,4}
a[0] #hence the error

TypeError: 'set' object is not subscriptable

In [182]:
# example 2 Slicing 
a = {1,2,3,4}
a[0:1] #hence the error as slicing

TypeError: 'set' object is not subscriptable

In [184]:
#c. Elements in sets has to be hashable
# example (including list in sets)
a = {1,2,3,[4,5,6]}
a

TypeError: unhashable type: 'list'

In [186]:
# example 2 (including tuple in sets)
a = {1,2,3,(4,5,6)}
a

{(4, 5, 6), 1, 2, 3}

In [188]:
# d. Sets are mutable
#example - add elemet
s = {1,2,3,4}
s.add(5) # not compulsory that it will add to the last element
s

{1, 2, 3, 4, 5}

In [192]:
# example - pop out the element
s = {1,2,3,4,5}
s.pop() # not compulsory that it will remove last element as in lists, it removes randomly.

1

In [194]:
#example - if you want to specifically remove an element
s.remove(3)
s

{2, 4, 5}

In [198]:
# example - to update
s.update ("ajay")
s

{2, 4, 5, 'a', 'j', 'y'}

In [202]:
#example to include as whole

s. update(["ajay"])
s

{2, 4, 5, 'a', 'ajay', 'j', 'y'}

In [204]:
# example to clear all
s.clear()
s

set()

In [208]:
#example to discard
b ={1,2,3}
b.discard(2) #error will not ne thrown if the element is not present unlike remove
b

{1, 3}

In [212]:
# e. Operations of sets

#i. Mathematical operations

# - Union - combines elements from 2 sets, excluding duplicacies.

#example 
a ={1,2,3,4}
b={4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

In [214]:
#- Intersection - returns only common elements in both of the sets
a ={1,2,3,4}
b={4,5,6}
print(a & b)

{4}

In [216]:
# - Difference - returns the element which is present in the first set but not the second
a ={1,2,3,4}
b={4,5,6}
print (a - b)

{1, 2, 3}

In [218]:
# - Symmetric difference - returns the element that are present in either of sets but not both
a ={1,2,3,4}
b={4,5,6}
print(a ^ b)

{1, 2, 3, 5, 6}

In [222]:
#f . Frozen sets - As sets are mutable, we can make the immutable or said freeze by using this operation
a = {1,2,3,4}
a = frozenset({1,2,3,4})
a.remove(1) # hence the error

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
# 6. Discuss the use cases of tuples and sets in Python programming

In [224]:
'''
A. The Tuples and sets have distinct purposes in the python programming

a. Use cases of sets

i. Removing duplicates from the list or other iterable
'''

# example

list = ["megha", 1,1,1,2,2,2,2,"megha", 3,3,3,3]
s = set(list)
s # with this we removed the duplicacies in the list

{1, 2, 3, 'megha'}

In [257]:
#ii. Fast Membership Testing
# Sets provide efficient membership checks, making them ideal for scenarios where you need to check the presence of an element frequently.
fruits = {'apple', 'banana', 'cherry'}
print('banana' in fruits)

True

In [261]:
# iii. Mathematical Set Operations:
#Sets support operations like union, intersection, difference, and symmetric difference.
#example
a = {1, 2, 3}
b = {3, 4, 5}
#union 
print(a | b)

{1, 2, 3, 4, 5}

In [263]:
#example
#intersection
print(a & b)

{3}

In [265]:
#Difference
print(a - b)

{1, 2}

In [267]:
# iV Efficient Filtering:
# Sets can filter elements based on inclusion or exclusion criteria.
#example 
a = {1,2,2,3,4}
b = {2,2,3,4,5}
print(a&b)

{2, 3, 4}

In [ ]:
'''
b. use cases of tuples

A tuple is an immutable, ordered collection of elements. 
Once created, its contents cannot be modified.
'''

In [ ]:
#use cases of tuples
#i. storing fixed data
# tuples are useful to save fixed data like birth date, coordinates, employee ids, anything which is constant.
 coordinates = (40.7128, 74.0060) #latitudes and longitudes

In [255]:
# Using as Dictionary Keys:
# Tuples, being immutable, can serve as keys in dictionaries, especially for composite keys.
dictionary = { (1,2,3) : "ajay"}
dictionary

{(1, 2, 3): 'ajay'}

In [ ]:
#Memory Efficiency:
#Tuples consume less memory than lists and are faster due to their immutability, making them a good choice for static data.
#when compared to the list the memory used is less as it is static.

In [ ]:
#Its better to use tuples when we need a fixed, ordered collection of items, such as constants, records, or function returns.
#Its better to use sets when you need an unordered collection of unique elements or want to perform set-theoretic operations like union, intersection, and difference.

In [ ]:
# 7. Describe how to add, modify, and delete items in a dictionary with examples

In [227]:
#A. Below are the examples of adding, modifying and deleting items in the dictionary

# a. Adding items to a dictionary
# we can simply add by assigning a new value to a new key
#example
dictionary = {"name" : "sujana", "Age" : 22, "place" : "suryapet"}
dictionary["study"] = "degree"
dictionary

{'name': 'sujana', 'Age': 22, 'place': 'suryapet', 'study': 'degree'}

In [229]:
# b. Modifying items in dictionary 
#example - to modify, we have to update the value of the existing key.
dictionary = {'name': 'sujana', 'Age': 22, 'place': 'suryapet', 'study': 'degree'}
dictionary ['age'] = 30
dictionary

{'name': 'sujana',
 'Age': 22,
 'place': 'suryapet',
 'study': 'degree',
 'age': 30}

In [237]:
# c. Deleting Items from a Dictionary
# i. To remove a specific pair of values : using del statement
#example 
dictionary = {'name': 'sujana', 'Age': 22, 'place': 'suryapet', 'study': 'degree'}
del dictionary['place']
dictionary

{'name': 'sujana', 'Age': 22, 'study': 'degree'}

In [241]:
#ii. To remove a key-value pair and returns the value - using pop()
#example
dictionary = {'name': 'sujana', 'Age': 22, 'study': 'degree'}
dictionary.pop('study')

'degree'

In [243]:
dictionary

{'name': 'sujana', 'Age': 22}

In [247]:
#iii. To remove all items or empty the dictionary - using clear()
#example
dictionary = {'name': 'sujana', 'Age': 22}
dictionary.clear()
dictionary

{}

In [ ]:
#8. Discuss the importance of dictionary keys being immutable and provide examples.

In [ ]:
'''
A. Importance of Dictionary Keys Being Immutable
- In Python, dictionary keys must be immutable because they are stored using a hashing mechanism.
- The hash value of a key is used to uniquely identify it within the dictionary which helps in fast lookups which ensures the data integrity. 
- As Keys are immutable they are more reliable.

Keys are required to be immutable as

a. Hashing for fast access - 
Dictionaries use hash tables to quickly locate values associated with keys.
An immutable key ensures that its hash value does not change, maintaining the integrity of the key-value mapping.

b. Data Integrity:
If keys were mutable and could change after being added to a dictionary, the hash value might no longer correspond to the correct location in the hash table, leading to data corruption or lookup errors.

c. Uniqueness:
Immutable objects, like strings and tuples, have consistent and unique hash values, ensuring each key is distinct and can be used reliably. Also we cant use list and dictionary as keys as they are mutable. 

#example of immutable keys

- Tuples (containing only immutable elements)
- int and float
- string
'''

In [249]:
#example 
dictionary = { 'name': 'keerthi', 33: 'Age', (1, 2): 'Tuple'}   # String key # Integer key # tuple key respectively
dictionary

{'name': 'keerthi', 33: 'Age', (1, 2): 'Tuple'}

In [251]:
# key types that are not supported
# lists
# dictionaries
# sets
# as all are immutable
#example 
dictionary = { [1,2,3] : 'keerthi', {1,2}: 'Age', (1, 2): 'Tuple'} 
# hence the error

TypeError: unhashable type: 'list'

In [ ]:
# By restricting keys to immutable types, Python guarantees that dictionaries remain efficient and dependable data structures.